<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<div th:replace="partials :: head"></div>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link href='http://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900' rel='stylesheet' type='text/css'>
<link rel="icon" href="../static/images/favicon.png">
<link href="../static/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
<link href="../static/css/app-blue.css" rel="stylesheet" type="text/css"/>
<link href="../static/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<style>
    body{
        background: lightgray;
        opacity: 90%;

    }
</style>
<body class="montserrat">

<nav th:replace="partials :: navbar"></nav>


<!--<div style="text-align: center" th:if="${user.getAdmin() != null}">-->
<!--    <div style="text-align: center;" th:if="${user.getAdmin() == true}">-->
<!--        <h1 style="text-align: center"><a href='/products/productInventory'>Check on the Inventory</a></ h1>-->
<!--        <h1 style="text-align: center"><a href='/transactions'>Check on Transactions</a></h1></div>-->
<!--</div>-->

<!--CATEGORY BUTTONS :VJP-->
<div class="jumbotron jumbotron-fluid col-12 text-center" style="height: 150px; background: lightgray">
    <div class="container">
        <p class="display-4 montserrat slide-left" style="margin-left: 200px">Collection</p>
    </div>
</div>

<div class="d-flex justify-content-around bg-light" id="productsButtonDiv">
    <a class="productsButtons montserrat" href="/products/t-shirts"> T-Shirts </a>
    <a class="productsButtons montserrat" href="/products/hats"> Hats </a>
    <a class="productsButtons montserrat" href="/products/pullovers"> Pullovers </a>
</div>
<!--This works for a dynamic generation of cards that looks okay - take a look at some point - JT-->
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<h2 th:if="${showProducts.isEmpty()}" style="text-align: center; color: orangered; height: 30vh"
    class="montserrat mb-5 mt-5">Seems
    like
    there's nothing here!
    Try again or
    go
    and see <a href="/products/all" style="color: #007BFF; font-weight: bold; text-decoration: none">everything
    </a> we have to
    offer!</h2>

    <div class="row d-flex justify-content-center">
        <div id="cardBackground" class=" shadow-none" th:each="product : ${showProducts}" style="background:
        lightgray">
            <div id="productsCardDiv" class="card-body d-inline-block justify-content-around"
                 style="margin: auto; background: lightgray">
                <p id="name" class="card-title text montserrat" th:text="${product.name}"></p>

            <a th:href="@{'/products/'+${product.id}}">
                <img th:src="${product.productImage}" class="card-img-top" alt="..." style="height: 300px;width: 300px">
            </a>
                <h4 id="price" class="montserrat" th:text="${'$'+product.price}"></h4>
                <div class="d-inline-flex">

                    <div class="card-text">

                    </div>
                </div>
            </div>
        </div>
    </div>

<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script type="text/javascript" src="../static/js/jquery.min.js"></script>
<script type="text/javascript" src="../static/js/bootstrap.min.js"></script>
<script type="text/javascript" src="../static/js/app.js"></script>
<script type="text/javascript" src="../static/js/colorSwitcher.js"></script>
<script type="text/javascript" src="../static/js/jquery.imagezoom.js"></script>
<footer th:replace="partials :: footer"/>
</body>
</html>
