<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="partials :: head" /></div>
<body>
<nav th:replace="partials :: navbar" />
<div class="container mt-4">
<!--    <div id="globalAlertArea">-->
<!--        <div id="globalAlert" style="color:black" class="alert alert-dismissible fade show" role="alert">-->
<!--            <div id="globalAlertContent"></div>-->
<!--&lt;!&ndash;            <button id="globalAlertDismissButton" type="button" class="close" data-dismiss="alert" aria-label="Close">&ndash;&gt;-->
<!--&lt;!&ndash;                <span aria-hidden="true">&times;</span>&ndash;&gt;-->
<!--&lt;!&ndash;            </button>&ndash;&gt;-->
<!--        </div>-->
<!--    </div>-->
    <h1>Product Inventory</h1>
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Color</th>
            <th scope="col">Size</th>
            <th scope="col">Type</th>
            <th scope="col">Price</th>
            <th scope="col">Quantity</th>
            <th scope="col">Image</th>
            <th scope="col">Operations</th>

        </tr>
        </thead>
        <tbody>
        <tr th:each="product : ${allProducts}">
            <td th:id="'productListID'+${product.getId()}" th:text="${product.getId()}"></td>
            <td th:id="'productListName'+${product.getId()}" th:text="${product.name}"></td>
            <td th:id="'productListColor'+${product.getId()}" th:text="${product.getColor()}"></td>
            <td th:id="'productListSize'+${product.getId()}" th:text="${product.getSize()}"></td>
            <td th:id="'productListType'+${product.getId()}" th:text="${product.getType()}"></td>
            <td th:id="'productListPrice'+${product.getId()}" th:text="${product.getPrice()}"></td>
            <td th:id="'productListQuantity'+${product.getId()}" th:text="${product.getQuantity()}"></td>
            <td th:id="'productListImage'+${product.getId()}"><img th:id="'productListImageImage'+${product.getId()}" th:src="@{/img/${product.getImage()}}"/></td>
            <td><button th:id="'editButton'+${product.id}" th:data-id="${product.id}" type="button" class="btn btn-primary editButton">Edit</button>
                <a th:href="@{'/productsInventory/delete/'+${product.id}}" class="btn btn-primary">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>

<!--ADD PRODUCT MODAL-->

    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
        Add a product
    </button>

    <div class="modal" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add a product</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <form th:method="post" th:action="@{/products/productInventory/add}">
                        <div class="form-group">
                            <label for="productName">Product Name</label>
                            <input type="text" class="form-control" id="productName" aria-describedby="productName" name="name">
                        </div>

                        <div class="form-group">
                            <label for="productColor">Product Color</label>
                            <input type="text" class="form-control" id="productColor" aria-describedby="productColor" name="color">
                        </div>

                        <div class="form-group">
                            <label for="productSize">Product Size</label>
                            <input type="text" class="form-control" id="productSize" aria-describedby="productQuantity" name="size">
                        </div>

                        <div class="form-group">
                            <label for="productType">Product Type</label>
                            <input type="text" class="form-control" id="productType" aria-describedby="productType" name="type">
                        </div>


                        <div class="form-group">
                            <label for="productDesc">Product Description</label>
                            <input type="text" class="form-control" id="productDesc" aria-describedby="productDesc"
                                   name="desc">
                        </div>

                        <div class="form-group">
                            <label for="productPrice">Product Price</label>
                            <input type="text" class="form-control" id="productPrice" aria-describedby="productPrice" name="price">
                        </div>

                        <div class="form-group">
                            <label for="productQuan">Product Quantity</label>
                            <input type="text" class="form-control" id="productQuan" aria-describedby="productQuan" name="quan">
                        </div>

                        <div class="form-group">
                            <label for="productImage">Product Image</label>
                            <input type="text" class="form-control" id="productImage" aria-describedby="productImage" name="image">
                        </div>

                        <button type="submit" class="btn btn-primary">Save</button>
                    </form>
                </div>

            </div>
        </div>
    </div>
    <br>
    <!--Edit Modal -->
    <div class="modal" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
<!--        <div id="editModalAlertArea">-->
<!--            <div id="editModalAlert" class="alert alert-dismissible fade show" role="alert">-->
<!--                <div id="editModalAlertContent"></div>-->
<!--                <button id="editAlertDismissButton" type="button" class="close" data-dismiss="alert" aria-label="Close">-->
<!--                    <span aria-hidden="true">&times;</span>-->
<!--                </button>-->
<!--            </div>-->
<!--        </div>-->
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editModalLabel">Edit product</h5>
                    <button id="editModalClose" type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form th:method="post" th:action="'javascript:void(0);'">
                        <div class="form-group">
                            <label for="editName">Product Name</label>
                            <input type="text" class="form-control" id="editName" aria-describedby="editName" name="name" >
                        </div>

                        <div class="form-group">
                            <label for="editColor">Product Color</label>
                            <input type="text" class="form-control" id="editColor" aria-describedby="editColor" name="color" >
                        </div>

                        <div class="form-group">
                            <label for="editSize">Product Size</label>
                            <input type="text" class="form-control" id="editSize" aria-describedby="editSize" name="size" >
                        </div>

                        <div class="form-group">
                            <label for="editType">Product Type</label>
                            <input type="text" class="form-control" id="editType" aria-describedby="editType" name="type" >
                        </div>

                        <div class="form-group">
                            <label for="editPrice">Product Price</label>
                            <input type="text" class="form-control" id="editPrice" aria-describedby="editPrice" name="price" >
                        </div>

                        <div class="form-group">
                            <label for="editQuantity">Product Quantity</label>
                            <input type="text" class="form-control" id="editQuantity" aria-describedby="editQuantity" name="quantity" >
                        </div>

                        <div class="form-group">
                            <label for="editDescription">Product Description</label>
                            <input type="text" class="form-control" id="editDescription" aria-describedby="editDescription" name="description" >
                        </div>

                        <div class="form-group">
                            <label for="editOnSpecial">Product On Special</label>
                            <input type="checkbox" class="form-control" id="editOnSpecial" aria-describedby="editOnSpecial" name="quantity" >
                        </div>

                        <div id="editID" hidden="true" disabled="true"></div>
                        <div id="editCategories" hidden="true" disabled="true"></div>
                        <div id="editImage" hidden="true" disabled="true"></div>
                        <div id="editSaveButtonSection">
                            <button id="editSaveButton" hidden="false" type="button" class="btn btn-primary">Save</button>
                            <div id="editSaveButtonSpinner" hidden="true" class="spinner-border text-primary" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>
<footer th:replace="partials :: footer" />
<script th:src="@{/js/productInventory.js}"></script>
</body>
</html>