<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<div th:replace="partials :: head"></div>

<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">


<body>

<nav th:replace="partials :: navbar"></nav>




<h1 style="text-align: center">All of the greatest internet pictures and text on fancy clothes!</h1><br>

<!--CARDS-->

<!--Start of card-->
<!--<div class="card-grid">-->
<!--    <div class="card shadow p-3 mb-5 bg-white rounded h-100" id="card12" th:each="product : ${product12}">-->
<!--        <div class="embed-responsive embed-responsive-4by3">-->
<!--            <img src="img/animal1.jpg" class="card-img-top embed-responsive-item" alt="...">-->
<!--        </div>-->
<!--        <div class="card-body">-->
<!--            <h5 class="card-title" th:text="${product12.name}">Rover</h5>-->
<!--            <p th:text="${product12.price}"></p>-->
<!--            <a href="#" class="btn btn-primary">Add to Cart</a>-->
<!--        </div>-->
<!--    </div>-->

<!--    <div class="card shadow p-3 mb-5 bg-white rounded h-100" id="card13" th:each="product : ${product13}">-->
<!--        <div class="embed-responsive embed-responsive-4by3">-->
<!--            <img src="img/animal1.jpg" class="card-img-top embed-responsive-item" alt="...">-->
<!--        </div>-->
<!--        <div class="card-body">-->
<!--            <h5 class="card-title" th:text="${product13.name}">Rover</h5>-->
<!--            <p th:text="${product13.price}"></p>-->
<!--            <a href="#" class="btn btn-primary">Add to Cart</a>-->
<!--        </div>-->
<!--    </div>-->

<!--    <div class="card shadow p-3 mb-5 bg-white rounded h-100" id="card14" th:each="product : ${product14}">-->
<!--        <div class="embed-responsive embed-responsive-4by3">-->
<!--            <img src="img/animal1.jpg" class="card-img-top embed-responsive-item" alt="...">-->
<!--        </div>-->
<!--        <div class="card-body">-->
<!--            <h5 class="card-title" th:text="${product14.name}">Rover</h5>-->
<!--            <p th:text="${product14.price}"></p>-->
<!--            <a href="#" class="btn btn-primary">Add to Cart</a>-->
<!--        </div>-->
<!--    </div>-->

<!--    <div class="card shadow p-3 mb-5 bg-white rounded h-100" id="card15" th:each="product : ${product15}">-->
<!--        <div class="embed-responsive embed-responsive-4by3">-->
<!--            <img src="img/animal1.jpg" class="card-img-top embed-responsive-item" alt="...">-->
<!--        </div>-->
<!--        <div class="card-body">-->
<!--            <h5 class="card-title" th:text="${product15.name}">Rover</h5>-->
<!--            <p th:text="${product15.price}"></p>-->
<!--            <a href="#" class="btn btn-primary">Add to Cart</a>-->
<!--        </div>-->
<!--    </div>-->

<!--    <div class="card shadow p-3 mb-5 bg-white rounded h-100" id="card16" th:each="product : ${product16}">-->
<!--        <div class="embed-responsive embed-responsive-4by3">-->
<!--            <img src="img/animal1.jpg" class="card-img-top embed-responsive-item" alt="...">-->
<!--        </div>-->
<!--        <div class="card-body">-->
<!--            <h5 class="card-title" th:text="${product16.name}">Rover</h5>-->
<!--            <p th:text="${product16.price}"></p>-->
<!--            <a href="#" class="btn btn-primary">Add to Cart</a>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="card shadow p-3 mb-5 bg-white rounded h-100" id="card17" th:each="product : ${product17}">-->
<!--        <div class="embed-responsive embed-responsive-4by3">-->
<!--            <img src="img/animal1.jpg" class="card-img-top embed-responsive-item" alt="...">-->
<!--        </div>-->
<!--        <div class="card-body">-->
<!--            <h5 class="card-title" th:text="${product17.name}">Rover</h5>-->
<!--            <p th:text="${product17.price}"></p>-->
<!--            <a href="#" class="btn btn-primary">Add to Cart</a>-->
<!--        </div>-->
<!--    </div>-->

<!--    <div class="card shadow p-3 mb-5 bg-white rounded h-100" id="card18" th:each="product : ${product18}">-->
<!--        <div class="embed-responsive embed-responsive-4by3">-->
<!--            <img src="img/animal1.jpg" class="card-img-top embed-responsive-item" alt="...">-->
<!--        </div>-->
<!--        <div class="card-body">-->
<!--            <h5 class="card-title" th:text="${product18.name}">Rover</h5>-->
<!--            <p th:text="${product18.price}"></p>-->
<!--            <a href="#" class="btn btn-primary">Add to Cart</a>-->
<!--        </div>-->
<!--    </div>-->

<!--    <div class="card shadow p-3 mb-5 bg-white rounded h-100" id="card19" th:each="product : ${product19}">-->
<!--        <div class="embed-responsive embed-responsive-4by3">-->
<!--            <img src="img/animal1.jpg" class="card-img-top embed-responsive-item" alt="...">-->
<!--        </div>-->
<!--        <div class="card-body">-->
<!--            <h5 class="card-title" th:text="${product19.name}">Rover</h5>-->
<!--            <p th:text="${product19.price}"></p>-->
<!--            <a href="#" class="btn btn-primary">Add to Cart</a>-->
<!--        </div>-->
<!--    </div>-->

<!--    <div class="card shadow p-3 mb-5 bg-white rounded h-100" id="card20" th:each="product : ${product20}">-->
<!--        <div class="embed-responsive embed-responsive-4by3">-->
<!--            <img src="img/animal1.jpg" class="card-img-top embed-responsive-item" alt="...">-->
<!--        </div>-->
<!--        <div class="card-body">-->
<!--            <h5 class="card-title" th:text="${product20.name}">Rover</h5>-->
<!--            <p th:text="${product20.price}"></p>-->
<!--            <a href="#" class="btn btn-primary">Add to Cart</a>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->


<!--End of card-->

<!--End of card-->
<!-- start of product cards cards are generated from this card-->
<div class="container">
    <div class="row">

        <div class="container" th:each="product : ${showProducts}">
            <div class="col-12 col-md-3">
                <div class="card shadow p-3 mb-5 bg-white rounded">
                    <div class="embed-responsive embed-responsive-4by3">
                        <a th:href="@{'/products/'+${product.id}}"><h1 style="font-weight: bold" th:text="${product.name}">
                            <img th:src="@{${product.image}}" alt="image" src="">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p style="font-weight:bold" th:text="${product.type}"></p>
                                <a href="#" class="btn btn-primary">Add to cart</a>
                                <p th:text="${product.description}"> </p>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--<nav aria-label="Page navigation example">-->
<!--    <ul class="pagination justify-content-center">-->
<!--        <li class="page-item">-->
<!--            <a class="page-link" href="javascript:prevPage()" tabindex="-1">Previous</a>-->
<!--        </li>-->
<!--        <li class="page-item"><a class="page-link" href="#">1</a></li>-->
<!--        <li class="page-item"><a class="page-link" href="#">2</a></li>-->
<!--        <li class="page-item"><a class="page-link" href="#">3</a></li>-->
<!--        <li class="page-item">-->
<!--            <a class="page-link" href="javascript:nextPage()">Next</a>-->
<!--        </li>-->
<!--    </ul>-->
<!--</nav>-->


<!-- JavaScript links -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<!--<script src="/js/pagination.js"></script>-->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>

</body>
</html>