<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:pth="http://www.w3.org/1999/html">
<div th:replace="partials :: head" /></div>
<head><title></title></head>
<body>
<nav th:replace="partials :: navbar" />
<div class="container" id="productContainer">


    <div id="image" class="productImg mr-5"><img th:src="${product.productImage}" alt="The product's image"
    height="500px"
                                            width="500px"></div>
    <div class="ml-5">
    <form th:action="@{/addToCart}" th:method="post">
        <input type="hidden" name="productName" id="name" th:value="${product.name}">
        <input type="hidden" name="type" th:value="${product.type}">
        <input type="hidden" name="productId" th:value="${product.id}">
    <h1 style="font-weight: bold" th:text="${product.name}"></h1>
    <h3>Type: <span th:text="${product.type}"></span></h3>
        <div style="display:inline-block"><h3 style="float:left">Color: </h3><div class="form-check">
       <input class="form-check-input" type="radio" name="color" id="color1" value="FFFFFF" checked>
       <label class="form-check-label" for="color1">
           <span class="dot" style="background-color: #FFFFFF;"></span>
       </label>
   </div>
       <div class="form-check">
           <input class="form-check-input" type="radio" name="color" id="color2" value="000000">
           <label class="form-check-label" for="color2">
               <span class="dot" style="background-color: #000000"></span>
           </label>
       </div>
       <div class="form-check">
           <input class="form-check-input" type="radio" name="color" id="color3" value="808080">
           <label class="form-check-label" for="color3">
               <span class="dot" style="background-color: #808080;"></span>
           </label>
       </div></div>
    <h3>Size: </h3><label for="sizeSelect"><select class="btn btn-mini" id="sizeSelect" name="sizeSelect">
        <option value="XS">X-Small</option>
        <option value="SM">Small</option>
        <option value="MD" selected>Medium</option>
        <option value="LG">Large</option>
        <option value="XL">X-Large</option>
    </select></label>

    <div th:if="${product.special} == true">
        <input type="hidden" name="price" th:value="${salePrice}" id="priceGet1">
        <h3>On Sale Price (42% off!): <strike><span th:text="${'$'+product.price}"></span></strike> <span
                th:text="${'$'+salePrice}" id="priceInput1"></span></h3></div>
    <div th:unless="${product.special} == true"><h3>Price:
        $<span th:text="${product.price}" id="priceInput2"></span></h3>
        <input type="hidden" name="price" th:value="${product.price}" id="priceGet2"></div>

    <p style="" th:text="${product.description}"> </p>
    <p style="color:red" id="error" th:text="${error}"></p>
        <input type="hidden" th:name="cartAddId" th:value="${product.id}">
        <label>Quantity (Defaults to 1):
            <input type="text" name="cartAddQuantity" value="1" id="amountOrdered" required maxlength="4">
        </label>
        <div class="total"></div>
        <button class="btn-link btn text-white btn-secondary" id="addProduct">Add this item to your cart</button>
    </form>
    </div>
</div>


<footer th:replace="partials :: footer" />
<script type="text/javascript" src="/js/product.js"></script>
</body>
</html>