<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<div th:replace="partials :: head" /></div>

<body>
<nav th:replace="partials :: navbar" />

<div class="container mt-4">


    <div sec:authorize="isAuthenticated()">

        <h1 style="text-align: center">Hello <span th:text="${user.username}"></span>!</h1><br>

        <div style="text-align: center;" th:if="${user.getAdmin() == true}">
                <form th:action="@{/admin}" th:method="get">
                    <button class="btn-link btn text-white btn-secondary text-center">Admin Portal</button>
                </form>
        </div>

    </div>
</div>
<footer th:replace="partials :: footer" />

</body>
</html>

