/**
 * The CSS shown here will not be introduced in the Quickstart guide, but shows
 * how you can use CSS to style your Element's container.
 */
.StripeElement {
    box-sizing: border-box;

    height: 40px;

    padding: 10px 12px;

    border: 1px solid transparent;
    border-radius: 4px;
    background-color: white;

    box-shadow: 0 1px 3px 0 #e6ebf1;
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
}

.StripeElement--focus {
    box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
    border-color: #fa755a;
}

.StripeElement--webkit-autofill {
    background-color: #fefde5 !important;
}

.color-box {
    height: 25px;
    width: 25px;
    border: 1px solid black;
    float: right;
    margin-left: 5px;

}

.dot {
    height: 25px;
    width: 25px;
    border: 1px solid black;
    border-radius: 50%;
    display: inline-block;
}

.transactionTable{
    margin-left: -22%;
}

.navitem {
    padding-left: 10px;
    padding-right: 10px;

}

.btn-link {
    color: rgba(87, 87, 87, 0.82);
}

#verify {
    color: rgba(83, 83, 83, 0.93);
}

#checkout-total {
    display: grid;
    grid-row: 1;
}

#checkout-btn {
    justify-content: flex-end;
}

.productImg{
    margin-left: 10%;
    max-width: 100%;
    height: auto;
    float: left;
}

.cartImage{
    max-width: 100%;
    height: auto;
}


#productContainer{
    margin-top: 5%;
}