<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="partials :: head" /></div>
<body>
<nav th:replace="partials :: navbar"></nav>
<head>
    <style>
        #main-jumbotron{
            /*background-image: linear-gradient(to bottom, rgba(0,0,0,0.6) 0%,rgba(0,0,0,0.6) 100%), url("");*/
            /*background: linear-gradient(dodgerblue, grey);*/
            background-size: cover;
            background-position: center;
            height: 25vh;
        }

        #jumbotron-container{
            justify-items: center;
            align-items: center;
            color: dodgerblue;
        }

        .embed-responsive .card-img-top  {
            object-fit: cover;
        }

        #dev-title {
            margin-left: 40px;
        }
    </style>
<!--</head>-->
<body>
<!--JUMBOTRON START-->
<div class="jumbotron jumbotron-fluid" id="main-jumbotron">
    <div class="container" id="jumbotron-container">
        <h1 class="display-4 text-focus-in montserrat" style="color: #0f0f0f" id="dev-title">Meet the Developers!</h1>
    </div>
</div>
<!--	JUMBOTRON END -->

<div class="container">

    <div class="row">

        <!--Start of card-->
        <div class="col-12 col-md-3 scale-in-center">
            <div class="card shadow p-3 mb-5 bg-white justify-content-sm-center card h-100">
                <div class="embed-responsive embed-responsive-4by3">
                    <a href="https://alumni.codeup.com/students/802">
                    <img src="images/jeremyHeadshot.jpeg" class="card-img-top embed-responsive-item" alt="professional picture of jeremy telhiard">
                    </a>
                </div>
                <div class="card-body">
                    <h5 class="card-title focus-in-expand-fwd montserrat">Jeremy Telhiard</h5>
                    <p class="card-text montserrat">An enthusiastic and dedicated individual that solves problems and continually strives to learn and excel.</p>
                </div>
                <div class="row social">
                    <div class="col-md-3 col-xs-3">
                        <a href="mailto:jeremy.telhiard@gmail.com"> <i class="fa fa-envelope"></i></a>
                    </div>
                    <div class="col-md-3 col-xs-3 flicker-5">
                        <a href="https://github.com/JeremyTelhiard"> <i class="fa fa-github"></i></a>
                    </div>
                    <div class="col-md-3 col-xs-3">
                        <a href="https://www.linkedin.com/in/jeremy-telhiard/"> <i class="fa fa-linkedin"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <!--End of card-->



        <!--Start of card-->
        <div class="col-12 col-md-3 scale-in-center1">
            <div class="card shadow p-3 mb-5 bg-white rounded card h-100">
                <div class="embed-responsive embed-responsive-4by3">
                    <a href="https://alumni.codeup.com/students/820">
                    <img src="images/Headshot8.jpeg" class="card-img-top embed-responsive-item" alt="professional picture of michael greenburg">
                    </a>
                </div>
                <div class="card-body">
                    <h5 class="card-title focus-in-expand-fwd montserrat">Michael Greenburg</h5>
                    <div>
                    <p class="card-text montserrat">A catalyst for motivation; a technical problem solver who loves to think outside the box. Finding solutions to complex problems, while helping others realize their potential is my forte.</p>
                    </div>
                </div>
                <div class="row social">
                    <div class="col-md-3 col-xs-3">
                        <a href="mailto:m.pgreenburg@gmail.com"> <i class="fa fa-envelope"></i></a>
                    </div>
                    <div class="col-md-3 col-xs-3 flicker-5">
                        <a href="https://github.com/MikeGreenburg"> <i class="fa fa-github"></i></a>
                    </div>
                    <div class="col-md-3 col-xs-3">
                        <a href="https://www.linkedin.com/in/michaelpgreenburg"> <i class="fa fa-linkedin"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <!--End of card-->



        <!--Start of card-->
        <div class="col-12 col-md-3 scale-in-center2">
            <div class="card shadow p-3 mb-5 bg-white rounded card h-100">
                <div class="embed-responsive embed-responsive-4by3">
                    <a href="https://alumni.codeup.com/students/803">
                    <img src="images/rubenheadshot.png" class="card-img-top embed-responsive-item" alt="professional picture of ruben trevino">
                    </a>
                </div>
                <div class="card-body">
                    <h5 class="card-title focus-in-expand-fwd montserrat">Ruben Trevino</h5>
                    <p class="card-text montserrat">Full-stack Software Developer with a passion for design and back end integration. Effective with the ability to adapt and learn quick</p>
                </div>
                <div class="row social">
                    <div class="col-md-3 col-xs-3">
                        <a href="mailto:rubentrevino95@gmail.com"> <i class="fa fa-envelope"></i></a>
                    </div>
                    <div class="col-md-3 col-xs-3 flicker-5">
                        <a href="https://github.com/rubentrevino95"> <i class="fa fa-github"></i></a>
                    </div>
                    <div class="col-md-3 col-xs-3">
                        <a href="https://www.linkedin.com/in/rubentrevino95"> <i class="fa fa-linkedin"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <!--End of card-->

        <!--Start of card-->
        <div class="col-12 col-md-3 scale-in-center3">
            <div class="card shadow p-3 mb-5 bg-white rounded card h-100">
                <div class="embed-responsive embed-responsive-4by3">
                    <a href="https://alumni.codeup.com/students/801">
                    <img src="images/headshotV.jpeg" class="card-img-top embed-responsive-item" alt="professional picture of victor jaimes puente">
                    </a>
                </div>
                <div class="card-body">
                    <h5 class="card-title focus-in-expand-fwd montserrat">Victor Jaimes-Puente</h5>
                    <div>
                    <p class="card-text montserrat">Full stack software developer with a military background who possess extensive leadership skills, the ability to adapt to any situation, and strives for excellence.</p>
                    </div>
                </div>
                <div class="row social">
                    <div class="col-md-3 col-xs-3">
                        <a href="mailto:victor.jaimes.puente@gmail.com"> <i class="fa fa-envelope"></i></a>
                    </div>
                    <div class="col-md-3 col-xs-3 flicker-5">
                        <a href="https://github.com/victor-jaimes-puente"> <i class="fa fa-github"></i></a>
                    </div>
                    <div class="col-md-3 col-xs-3">
                        <a href="https://www.linkedin.com/in/victor-jaimes-puente-3aa0421a6/"> <i class="fa fa-linkedin"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <!--End of card-->
    </div>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
<script type="text/javascript" src="../static/js/jquery.min.js"></script>
<script type="text/javascript" src="../static/js/bootstrap.min.js"></script>
<script type="text/javascript" src="../static/js/app.js"></script>
<script type="text/javascript" src="../static/js/colorSwitcher.js"></script>
<script type="text/javascript" src="../static/js/jquery.imagezoom.js"></script>
</body>
</html>