<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="partials :: head" /></div>

<body>
<nav th:replace="partials :: navbar" />

<div class="container mt-4">

    <h1 style="text-align: center">Welcome to MemeTees!</h1><br>
    <h1 style="text-align: center">Come buy yourself some fresh memes to wear!</h1><br>
    <h4 style="text-align: center">(Or dank ones, we won't judge~)</h4><br><br>
    <h1 style="text-align: center"><a href='/products/all'>See the full catalog!</a></h1>



</div>

<footer th:replace="partials :: footer" />
</body>
</html>