<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/style.css}" rel="stylesheet">
    <title th:text="${pageTitle}"></title>
<!--    <script src="https://js.stripe.com/v3/"></script>-->
    <!-- include stylesheets, etc here -->
</head>
<body>
<nav th:fragment="navbar" class="navbar navbar-expand-sm navbar-light bg-light mb-3">
    <ul class="collapse navbar-collapse justify-content-between" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/products/all">All Products</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/products/t-shirts">T-Shirts</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/products/hoodies">Hoodies</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/products/hats">Hats</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/users/profile">Profile</a>
            </li>
            <form method="post" action="/products/search" class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"
                       name="keyword">
                <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">Search</button>
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle ml-2" type="button" id="dropdownMenuButton"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Category select
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" th:href="@{'/products/display=Mad'}">Mad</a>
                        <a class="dropdown-item" th:href="@{'/products/display=Froggy'}">Froggy</a>
                        <a class="dropdown-item" th:href="@{'/products/display=Funny'}">Funny</a>
                        <a class="dropdown-item" th:href="@{'/products/display=Sad'}">Sad</a>
                        <a class="dropdown-item" th:href="@{'/products/display=Scary'}">Scary</a>
                    </div>
                </div>
            </form>
        </ul>

        <!--            <div class="navbar navbar-right">-->
        <ul class="navbar-nav">

            <li class="nav-item" sec:authorize="isAuthenticated()">
                <form th:action="@{/cart}" th:method="get">
                    <button class="btn-link btn text-white btn-secondary">Go to cart</button>
                </form>
            </li>
            <li class="nav-item"sec:authorize="isAnonymous()">
                <form th:action="@{/register}" th:method="get">
                    <button class="btn-link btn text-white btn-secondary">Register</button>
                </form>
            </li>
            <li class="nav-item"sec:authorize="isAnonymous()">
                <form th:action="@{/login}" th:method="get">
                    <button class="btn-link btn text-white btn-secondary">Login</button>
                </form>
            </li>

            <li class="nav-item" sec:authorize="isAuthenticated()">
                <form th:action="@{/logout}" th:method="post">
                    <button class="btn-link btn text-white btn-secondary">Logout</button>
                </form>
            </li>

            <!--         <form method="post" action="/products/search" class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="keyword">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                    </form> -->

        </ul>
    </ul>
</nav>
<!--                <ul class="navbar-nav">-->
<!--            <li class="nav-item">-->
<!--                <form th:action="@{/register}" th:method="get">-->
<!--                    <button class="btn-link btn text-white btn-secondary">Register</button>-->
<!--                </form>-->
<!--            </li>-->
<!--            <li class="nav-item">-->
<!--                <form th:action="@{/login}" th:method="get">-->
<!--                    <button class="btn-link btn text-white btn-secondary">Login</button>-->
<!--                </form>-->
<!--            </li>-->
<!--            <li class="nav-item">-->
<!--                <form th:action="@{/logout}" th:method="post">-->
<!--                    <button class="btn-link btn text-white btn-secondary">Logout</button>-->
<!--                </form>-->
<!--            </li>-->
<!--        </ul>-->
<!--        <form method="post" action="/products/search" class="form-inline my-2 my-lg-0">-->
<!--            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="keyword">-->
<!--            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>-->
<!--        </form>-->
<!--&lt;!&ndash;            </div>&ndash;&gt;-->
<!--    </div>-->
<!--</nav>-->
<!--<nav th:fragment="navbar">-->
<!--    &lt;!&ndash; awesome navbar goes here &ndash;&gt;-->
<!--    <ul class="nav navbar-nav navbar-right">-->
<!--        <li><a href="/home">Home</a></li>-->
<!--        <li><a href="/hello/Fortuna">Hello</a></li>-->
<!--        <li><a href="/join">Join</a></li>-->
<!--        <li><a href="/welcome">Welcome</a> </li>-->
<!--    </ul>-->
<!--</nav>-->
<div th:fragment="footer">
    <script th:src="@{/js/jquery-3.5.1.min.js}"></script>
    <script th:src="@{/js/jpopper.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
<!--    <script th:src="@{/js/custom.js}"></script>-->
</div>
</body>
</html>


<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">-->
<!--<head th:fragment="head">-->
<!--    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">-->
<!--    <link th:href='@{http://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900}' rel='stylesheet' type='text/css'>-->
<!--    <link rel="icon" th:href="@{/images/favicon.png}">-->
<!--    <link th:href="@{/css/bootstrap.css}" rel="stylesheet" type="text/css"/>-->
<!--&lt;!&ndash;    <link th:href="@{/css/app-blue.css}" rel="stylesheet" type="text/css"/>&ndash;&gt;-->
<!--&lt;!&ndash;    <link th:href="@{/css/font-awesome.min.css}" rel="stylesheet" type="text/css"/>&ndash;&gt;-->

<!--    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">-->
<!--&lt;!&ndash;    <link th:href="@{/css/style.css}" rel="stylesheet">&ndash;&gt;-->

<!--    <title th:text="${pageTitle}"></title>-->
<!--&lt;!&ndash;    <script src="https://js.stripe.com/v3/"></script>&ndash;&gt;-->
<!--    &lt;!&ndash; include stylesheets, etc here &ndash;&gt;-->
<!--</head>-->
<!--<body>-->


<!--&lt;!&ndash;<nav th:fragment="navbar" class="navbar navbar-expand-sm navbar-light bg-light mb-3">&ndash;&gt;-->
<!--&lt;!&ndash;    <ul class="collapse navbar-collapse justify-content-between" id="navbarNav">&ndash;&gt;-->
<!--&lt;!&ndash;        <ul class="navbar-nav">&ndash;&gt;-->
<!--&lt;!&ndash;            <li class="nav-item">&ndash;&gt;-->
<!--&lt;!&ndash;                <a class="nav-link" href="/">Home</a>&ndash;&gt;-->
<!--&lt;!&ndash;            </li>&ndash;&gt;-->
<!--&lt;!&ndash;            <li class="nav-item">&ndash;&gt;-->
<!--&lt;!&ndash;                <a class="nav-link" href="/products/all">All Products</a>&ndash;&gt;-->
<!--&lt;!&ndash;            </li>&ndash;&gt;-->
<!--&lt;!&ndash;            <li class="nav-item">&ndash;&gt;-->
<!--&lt;!&ndash;                <a class="nav-link" href="/products/t-shirts">T-Shirts</a>&ndash;&gt;-->
<!--&lt;!&ndash;            </li>&ndash;&gt;-->
<!--&lt;!&ndash;            <li class="nav-item">&ndash;&gt;-->
<!--&lt;!&ndash;                <a class="nav-link" href="/products/hoodies">Hoodies</a>&ndash;&gt;-->
<!--&lt;!&ndash;            </li>&ndash;&gt;-->
<!--&lt;!&ndash;            <li class="nav-item">&ndash;&gt;-->
<!--&lt;!&ndash;                <a class="nav-link" href="/products/hats">Hats</a>&ndash;&gt;-->
<!--&lt;!&ndash;            </li>&ndash;&gt;-->
<!--&lt;!&ndash;            <li class="nav-item">&ndash;&gt;-->
<!--&lt;!&ndash;                <a class="nav-link" href="/users/profile">Profile</a>&ndash;&gt;-->
<!--&lt;!&ndash;            </li>&ndash;&gt;-->
<!--&lt;!&ndash;            <form method="post" action="/products/search" class="form-inline my-2 my-lg-0">&ndash;&gt;-->
<!--&lt;!&ndash;                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"&ndash;&gt;-->
<!--&lt;!&ndash;                       name="keyword">&ndash;&gt;-->
<!--&lt;!&ndash;                <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">Search</button>&ndash;&gt;-->
<!--&lt;!&ndash;                <div class="dropdown">&ndash;&gt;-->
<!--&lt;!&ndash;                    <button class="btn btn-secondary dropdown-toggle ml-2" type="button" id="dropdownMenuButton"&ndash;&gt;-->
<!--&lt;!&ndash;                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">&ndash;&gt;-->
<!--&lt;!&ndash;                        Category select&ndash;&gt;-->
<!--&lt;!&ndash;                    </button>&ndash;&gt;-->
<!--&lt;!&ndash;                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">&ndash;&gt;-->
<!--&lt;!&ndash;                        <a class="dropdown-item" th:href="@{'/products/display=Mad'}">Mad</a>&ndash;&gt;-->
<!--&lt;!&ndash;                        <a class="dropdown-item" th:href="@{'/products/display=Froggy'}">Froggy</a>&ndash;&gt;-->
<!--&lt;!&ndash;                        <a class="dropdown-item" th:href="@{'/products/display=Funny'}">Funny</a>&ndash;&gt;-->
<!--&lt;!&ndash;                        <a class="dropdown-item" th:href="@{'/products/display=Sad'}">Sad</a>&ndash;&gt;-->
<!--&lt;!&ndash;                        <a class="dropdown-item" th:href="@{'/products/display=Scary'}">Scary</a>&ndash;&gt;-->
<!--&lt;!&ndash;                    </div>&ndash;&gt;-->
<!--&lt;!&ndash;                </div>&ndash;&gt;-->
<!--&lt;!&ndash;            </form>&ndash;&gt;-->
<!--&lt;!&ndash;        </ul>&ndash;&gt;-->

<!--&lt;!&ndash;&lt;!&ndash;            <div class="navbar navbar-right">&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;        <ul class="navbar-nav">&ndash;&gt;-->

<!--&lt;!&ndash;            <li class="nav-item" sec:authorize="isAuthenticated()">&ndash;&gt;-->
<!--&lt;!&ndash;                <form th:action="@{/cart}" th:method="get">&ndash;&gt;-->
<!--&lt;!&ndash;                    <button class="btn-link btn text-white btn-secondary">Go to cart</button>&ndash;&gt;-->
<!--&lt;!&ndash;                </form>&ndash;&gt;-->
<!--&lt;!&ndash;            </li>&ndash;&gt;-->
<!--&lt;!&ndash;            <li class="nav-item"sec:authorize="isAnonymous()">&ndash;&gt;-->
<!--&lt;!&ndash;                <form th:action="@{/register}" th:method="get">&ndash;&gt;-->
<!--&lt;!&ndash;                    <button class="btn-link btn text-white btn-secondary">Register</button>&ndash;&gt;-->
<!--&lt;!&ndash;                </form>&ndash;&gt;-->
<!--&lt;!&ndash;            </li>&ndash;&gt;-->
<!--&lt;!&ndash;            <li class="nav-item"sec:authorize="isAnonymous()">&ndash;&gt;-->
<!--&lt;!&ndash;                <form th:action="@{/login}" th:method="get">&ndash;&gt;-->
<!--&lt;!&ndash;                    <button class="btn-link btn text-white btn-secondary">Login</button>&ndash;&gt;-->
<!--&lt;!&ndash;                </form>&ndash;&gt;-->
<!--&lt;!&ndash;            </li>&ndash;&gt;-->

<!--&lt;!&ndash;            <li class="nav-item">&ndash;&gt;-->

<!--&lt;!&ndash;                <a class="nav-link" href="/users/profile">Profile</a>&ndash;&gt;-->

<!--&lt;!&ndash;            </li>&ndash;&gt;-->
<!--&lt;!&ndash;            <li class="nav-item">&ndash;&gt;-->
<!--&lt;!&ndash;                <a class="nav-link" href="/products/productInventory">Inventory page</a>&ndash;&gt;-->
<!--&lt;!&ndash;            </li>&ndash;&gt;-->
<!--&lt;!&ndash;            <form method="post" action="/products/search" class="form-inline my-2 my-lg-0">&ndash;&gt;-->
<!--&lt;!&ndash;                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"&ndash;&gt;-->
<!--&lt;!&ndash;                       name="keyword">&ndash;&gt;-->
<!--&lt;!&ndash;                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>&ndash;&gt;-->
<!--&lt;!&ndash;                <div class="input-group">&ndash;&gt;-->
<!--&lt;!&ndash;                    <div class="input-group-prepend">&ndash;&gt;-->
<!--&lt;!&ndash;                        <div class="input-group-text bg-light" style="border: none">&ndash;&gt;-->
<!--&lt;!&ndash;                            <input type="radio" name="choice" value="name" checked>&ndash;&gt;-->
<!--&lt;!&ndash;                            <span class="ml-1">Name Search</span>&ndash;&gt;-->
<!--&lt;!&ndash;                        </div>&ndash;&gt;-->
<!--&lt;!&ndash;                        <div class="input-group-text bg-light" style="border:none">&ndash;&gt;-->
<!--&lt;!&ndash;                            <input type="radio" name="choice" value="category">&ndash;&gt;-->
<!--&lt;!&ndash;                            <span class="ml-1">Category Search</span>&ndash;&gt;-->
<!--&lt;!&ndash;                        </div>&ndash;&gt;-->
<!--&lt;!&ndash;                    </div>&ndash;&gt;-->
<!--&lt;!&ndash;                </div>&ndash;&gt;-->
<!--&lt;!&ndash;            </form>&ndash;&gt;-->
<!--&lt;!&ndash;        </ul>&ndash;&gt;-->

<!--&lt;!&ndash;        <ul class="navbar-nav">&ndash;&gt;-->
<!--&lt;!&ndash;            <li class="nav-item" sec:authorize="isAuthenticated()">&ndash;&gt;-->
<!--&lt;!&ndash;                <form th:action="@{/cart}" th:method="get">&ndash;&gt;-->
<!--&lt;!&ndash;                    <button class="btn-link btn text-white btn-secondary">Go to cart</button>&ndash;&gt;-->
<!--&lt;!&ndash;                </form>&ndash;&gt;-->
<!--&lt;!&ndash;            </li>&ndash;&gt;-->
<!--&lt;!&ndash;            <li class="nav-item"sec:authorize="isAnonymous()">&ndash;&gt;-->
<!--&lt;!&ndash;                <form th:action="@{/register}" th:method="get">&ndash;&gt;-->
<!--&lt;!&ndash;                    <button class="btn-link btn text-white btn-secondary">Register</button>&ndash;&gt;-->
<!--&lt;!&ndash;                </form>&ndash;&gt;-->
<!--&lt;!&ndash;            </li>&ndash;&gt;-->
<!--&lt;!&ndash;            <li class="nav-item"sec:authorize="isAnonymous()">&ndash;&gt;-->
<!--&lt;!&ndash;                <form th:action="@{/login}" th:method="get">&ndash;&gt;-->
<!--&lt;!&ndash;                    <button class="btn-link btn text-white btn-secondary">Login</button>&ndash;&gt;-->
<!--&lt;!&ndash;                </form>&ndash;&gt;-->
<!--&lt;!&ndash;            </li>&ndash;&gt;-->

<!--&lt;!&ndash;            <li class="nav-item" sec:authorize="isAuthenticated()">&ndash;&gt;-->
<!--&lt;!&ndash;                <form th:action="@{/logout}" th:method="post">&ndash;&gt;-->
<!--&lt;!&ndash;                    <button class="btn-link btn text-white btn-secondary">Logout</button>&ndash;&gt;-->
<!--&lt;!&ndash;                </form>&ndash;&gt;-->
<!--&lt;!&ndash;            </li>&ndash;&gt;-->

<!--&lt;!&ndash;        </ul>&ndash;&gt;-->
<!--&lt;!&ndash;    </ul>&ndash;&gt;-->
<!--&lt;!&ndash;</nav>&ndash;&gt;-->

<!--&lt;!&ndash;NEW NAVBAR&ndash;&gt;-->
<!--<div th:fragment="navbar" class="container mt-4">-->
<!--    <div class="wrapper">-->
<!--        <nav class="navbar navbar-default navbar-fixed-top navbar-transparent" id="navbar">-->
<!--            <div class="navbar-header">-->
<!--                <button type="button" class="collapsed navbar-toggle" data-toggle="collapse" data-target="#menu"-->
<!--                        aria-expanded="false">-->
<!--                    <span class="sr-only">Toggle navigation</span>-->
<!--                    <span class="icon-bar"></span>-->
<!--                    <span class="icon-bar"></span>-->
<!--                    <span class="icon-bar"></span>-->
<!--                </button>-->
<!--                <a href="/" class="navbar-brand">Meme Tees</a>-->
<!--            </div>-->
<!--            <div class="collapse navbar-collapse pull-right" id="menu">-->
<!--                <ul class="nav navbar-nav">-->
<!--&lt;!&ndash;                    <li>&ndash;&gt;-->
<!--&lt;!&ndash;                        <a href="/"><i class="fa fa-home"></i>Home</a>&ndash;&gt;-->
<!--&lt;!&ndash;                    </li>&ndash;&gt;-->
<!--                    <li>-->
<!--                        <form method="post" action="/products/search" class="form-inline my-2 my-lg-0">-->
<!--                            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"-->
<!--                                   name="keyword">-->
<!--                            <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">Search</button>-->
<!--                            <div class="dropdown">-->
<!--                                <button class="btn btn-secondary dropdown-toggle ml-2" type="button" id="dropdownMenuButton"-->
<!--                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
<!--                                    Category select-->
<!--                                </button>-->
<!--                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">-->
<!--                                    <a class="dropdown-item" th:href="@{'/products/display=Mad'}">Mad</a>-->
<!--                                    <a class="dropdown-item" th:href="@{'/products/display=Froggy'}">Froggy</a>-->
<!--                                    <a class="dropdown-item" th:href="@{'/products/display=Funny'}">Funny</a>-->
<!--                                    <a class="dropdown-item" th:href="@{'/products/display=Sad'}">Sad</a>-->
<!--                                    <a class="dropdown-item" th:href="@{'/products/display=Scary'}">Scary</a>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </form>-->
<!--&lt;!&ndash;                        <form method="post" action="/products/search" class="form-inline my-2 my-lg-0">&ndash;&gt;-->
<!--&lt;!&ndash;                            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"&ndash;&gt;-->
<!--&lt;!&ndash;                                   name="keyword">&ndash;&gt;-->
<!--&lt;!&ndash;                            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>&ndash;&gt;-->
<!--&lt;!&ndash;                            <div class="input-group">&ndash;&gt;-->
<!--&lt;!&ndash;                                <div class="input-group-prepend">&ndash;&gt;-->
<!--&lt;!&ndash;                                    <div class="input-group-text bg-light" style="border: none">&ndash;&gt;-->
<!--&lt;!&ndash;                                        <input type="radio" name="choice" value="name" checked>&ndash;&gt;-->
<!--&lt;!&ndash;                                        <span class="ml-1">Name Search</span>&ndash;&gt;-->
<!--&lt;!&ndash;                                    </div>&ndash;&gt;-->
<!--&lt;!&ndash;                                    <div class="input-group-text bg-light" style="border:none">&ndash;&gt;-->
<!--&lt;!&ndash;                                        <input type="radio" name="choice" value="category">&ndash;&gt;-->
<!--&lt;!&ndash;                                        <span class="ml-1">Category Search</span>&ndash;&gt;-->
<!--&lt;!&ndash;                                    </div>&ndash;&gt;-->
<!--&lt;!&ndash;                                </div>&ndash;&gt;-->
<!--&lt;!&ndash;                            </div>&ndash;&gt;-->
<!--&lt;!&ndash;                        </form>&ndash;&gt;-->
<!--                    </li>-->
<!--&lt;!&ndash;                    <li>&ndash;&gt;-->
<!--&lt;!&ndash;                        <a href="/products/productInventory">Product Inventory</a>&ndash;&gt;-->
<!--&lt;!&ndash;                    </li>&ndash;&gt;-->
<!--                    <li class="nav-item"sec:authorize="isAnonymous()">-->
<!--                        <form th:action="@{/register}" th:method="get">-->
<!--                            <button class="btn-link btn text-white btn-secondary">Register</button>-->
<!--                        </form>-->
<!--                    </li>-->
<!--                    <li class="nav-item"sec:authorize="isAnonymous()">-->
<!--                        <form th:action="@{/login}" th:method="get">-->
<!--                            <button class="btn-link btn text-white btn-secondary">Login</button>-->
<!--                        </form>-->
<!--                    </li>-->
<!--                    <li class="nav-item">-->

<!--                        <a class="nav-link" href="/users/profile">Profile</a>-->

<!--                    </li>-->
<!--                    <li class="nav-item" sec:authorize="isAuthenticated()">-->
<!--                        <form th:action="@{/logout}" th:method="post">-->
<!--                            <button class="btn-link btn text-white btn-secondary">Logout</button>-->
<!--                        </form>-->
<!--                    </li>-->
<!--                    <li sec:authorize="isAuthenticated()">-->
<!--                        <form th:action="@{/cart}" th:method="get">-->
<!--                            <i class="fa fa-cart-plus"></i><button class="btn-link btn text-white btn-secondary">Go to cart</button>-->
<!--                        </form>-->
<!--                    </li>-->
<!--                </ul>-->

<!--            </div>-->
<!--        </nav>-->
<!--    </div>-->
<!--</div>-->

<!--&lt;!&ndash;FOOTER&ndash;&gt;-->
<!--    <footer id="footer" th:fragment="footer">-->
<!--&lt;!&ndash;        <div class="container">&ndash;&gt;-->
<!--&lt;!&ndash;            <div class="row">&ndash;&gt;-->
<!--&lt;!&ndash;                <div class="col-sm-4">&ndash;&gt;-->
<!--&lt;!&ndash;                    <h4>Our conditions</h4>&ndash;&gt;-->
<!--&lt;!&ndash;                    <div class="justify">&ndash;&gt;-->
<!--&lt;!&ndash;                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce eget justo tincidunt,&ndash;&gt;-->
<!--&lt;!&ndash;                        sollicitudin dolor eget, facilisis tortor.&ndash;&gt;-->
<!--&lt;!&ndash;                    </div>&ndash;&gt;-->
<!--&lt;!&ndash;                </div>&ndash;&gt;-->
<!--&lt;!&ndash;                <div class="col-sm-4">&ndash;&gt;-->
<!--&lt;!&ndash;                    <h4>Latest news</h4>&ndash;&gt;-->
<!--&lt;!&ndash;                    <blockquote>&ndash;&gt;-->
<!--&lt;!&ndash;                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>&ndash;&gt;-->
<!--&lt;!&ndash;                    </blockquote>&ndash;&gt;-->
<!--&lt;!&ndash;                </div>&ndash;&gt;-->
<!--&lt;!&ndash;                <div class="col-sm-4 social-network">&ndash;&gt;-->
<!--&lt;!&ndash;                    <h4>Social Network</h4>&ndash;&gt;-->
<!--&lt;!&ndash;                    <div class="row margin-top-20">&ndash;&gt;-->
<!--&lt;!&ndash;                        <div class="col-sm-12">&ndash;&gt;-->
<!--&lt;!&ndash;                            <a href="#">&ndash;&gt;-->
<!--&lt;!&ndash;                                <i class="fa fa-github-square fa-2x blue-fb pull-left"></i>&ndash;&gt;-->
<!--&lt;!&ndash;                                <div>&ndash;&gt;-->
<!--&lt;!&ndash;                                    Look us up on github!&ndash;&gt;-->
<!--&lt;!&ndash;                                </div>&ndash;&gt;-->
<!--&lt;!&ndash;                                <div class="clearfix"></div>&ndash;&gt;-->
<!--&lt;!&ndash;                            </a>&ndash;&gt;-->
<!--&lt;!&ndash;                        </div>&ndash;&gt;-->
<!--&lt;!&ndash;                    </div>&ndash;&gt;-->
<!--&lt;!&ndash;                    <div class="row margin-top-10">&ndash;&gt;-->
<!--&lt;!&ndash;                        <div class="col-sm-12">&ndash;&gt;-->
<!--&lt;!&ndash;                            <a href="#">&ndash;&gt;-->
<!--&lt;!&ndash;                                <i class="fa fa-linkedin-square fa-2x blue-tt pull-left"></i>&ndash;&gt;-->
<!--&lt;!&ndash;                                <div>&ndash;&gt;-->
<!--&lt;!&ndash;                                    Connect with us on Linkedin!&ndash;&gt;-->
<!--&lt;!&ndash;                                </div>&ndash;&gt;-->
<!--&lt;!&ndash;                                <div class="clearfix"></div>&ndash;&gt;-->
<!--&lt;!&ndash;                            </a>&ndash;&gt;-->
<!--&lt;!&ndash;                        </div>&ndash;&gt;-->
<!--&lt;!&ndash;                    </div>&ndash;&gt;-->
<!--&lt;!&ndash;                </div>&ndash;&gt;-->
<!--&lt;!&ndash;            </div>&ndash;&gt;-->
<!--&lt;!&ndash;            <hr/>&ndash;&gt;-->
<!--&lt;!&ndash;            <div class="row line-50">&ndash;&gt;-->
<!--&lt;!&ndash;                <div class="col-sm-8">&ndash;&gt;-->
<!--&lt;!&ndash;                    <nav class="navbar navbar-default navbar-transparent">&ndash;&gt;-->
<!--&lt;!&ndash;                        <div class="container-fluid">&ndash;&gt;-->
<!--&lt;!&ndash;                            <div class="collapse navbar-collapse">&ndash;&gt;-->
<!--&lt;!&ndash;                                <ul class="nav navbar-nav">&ndash;&gt;-->
<!--&lt;!&ndash;                                    <li>&ndash;&gt;-->
<!--&lt;!&ndash;                                        <a href="/">Home</a>&ndash;&gt;-->
<!--&lt;!&ndash;                                    </li>&ndash;&gt;-->
<!--&lt;!&ndash;                                    <li>&ndash;&gt;-->
<!--&lt;!&ndash;                                        <a href="#">&ndash;&gt;-->
<!--&lt;!&ndash;                                            Account&ndash;&gt;-->
<!--&lt;!&ndash;                                        </a>&ndash;&gt;-->
<!--&lt;!&ndash;                                    </li>&ndash;&gt;-->
<!--&lt;!&ndash;                                    <li>&ndash;&gt;-->
<!--&lt;!&ndash;                                        <a href="#">&ndash;&gt;-->
<!--&lt;!&ndash;                                            Favorites&ndash;&gt;-->
<!--&lt;!&ndash;                                        </a>&ndash;&gt;-->
<!--&lt;!&ndash;                                    </li>&ndash;&gt;-->
<!--&lt;!&ndash;                                    <li>&ndash;&gt;-->
<!--&lt;!&ndash;                                        <a href="/cart">&ndash;&gt;-->
<!--&lt;!&ndash;                                            Cart&ndash;&gt;-->
<!--&lt;!&ndash;                                        </a>&ndash;&gt;-->
<!--&lt;!&ndash;                                    </li>&ndash;&gt;-->
<!--&lt;!&ndash;                                </ul>&ndash;&gt;-->
<!--&lt;!&ndash;                            </div>&ndash;&gt;-->
<!--&lt;!&ndash;                        </div>&ndash;&gt;-->
<!--&lt;!&ndash;                    </nav>&ndash;&gt;-->
<!--&lt;!&ndash;                </div>&ndash;&gt;-->
<!--&lt;!&ndash;                <div class="col-sm-4 text-right">&ndash;&gt;-->
<!--&lt;!&ndash;                    <strong>&ndash;&gt;-->
<!--&lt;!&ndash;                        Meme Tees&ndash;&gt;-->
<!--&lt;!&ndash;                    </strong>&ndash;&gt;-->
<!--&lt;!&ndash;                </div>&ndash;&gt;-->
<!--&lt;!&ndash;            </div>&ndash;&gt;-->

<!--    <script th:src="@{/static.filestackapi.com/filestack-js/3.x.x/filestack.min.js}"></script>-->
<!--    <script src="/js/customFileStack.js"></script>-->
<!--&lt;!&ndash;    <script src="/js/keys.js"></script>&ndash;&gt;-->
<!--    <script th:src="@{/js/jquery-3.5.1.min.js}"></script>-->
<!--    <script th:src="@{/js/jpopper.min.js}"></script>-->
<!--    <script th:src="@{/js/bootstrap.min.js}"></script>-->
<!--    <script th:src="@{/js/custom.js}"></script>-->

<!--&lt;!&ndash;    <script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>&ndash;&gt;-->
<!--&lt;!&ndash;    <script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>&ndash;&gt;-->
<!--&lt;!&ndash;    <script type="text/javascript" th:src="@{/js/app.js}"></script>&ndash;&gt;-->
<!--&lt;!&ndash;    <script type="text/javascript" th:src="@{/js/colorSwitcher.js}"></script>&ndash;&gt;-->
<!--&lt;!&ndash;    <script type="text/javascript" th:src="@{/js/jquery.imagezoom.js}"></script>&ndash;&gt;-->

<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--    </footer>-->
<!--</body>-->
<!--</html>-->