<!DOCTYPE html>
<html lang="en">
<head>
    <title>Ruben</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link href='http://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900' rel='stylesheet' type='text/css'>
    <link rel="icon" href="../static/images/favicon.png">
    <link href="../static/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="../static/css/app-blue.css" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="../static/js/jquery.min.js"></script>
    <script type="text/javascript" src="../static/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../static/js/app.js"></script>
    <script type="text/javascript" src="../static/js/colorSwitcher.js"></script>
    <script type="text/javascript" src="../static/js/jquery.imagezoom.js"></script>
</head>
<body>
<div class="wrapper">
    <nav class="navbar navbar-default navbar-fixed-top navbar-transparent" id="navbar">
        <div class="navbar-header">
            <button type="button" class="collapsed navbar-toggle" data-toggle="collapse" data-target="#menu"
                    aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="ruben.html" class="navbar-brand">
                MemeTees
            </a>
        </div>
        <div class="collapse navbar-collapse pull-right" id="menu">
            <ul class="nav navbar-nav">
                <li>
                    <a href="home.html">
                        <i class="fa fa-home"></i>
                        Home
                    </a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">
                        <i class="fa fa-file-code-o"></i>
                        Menu <span class="caret"></span>
                    </a>
                </li>
                <li>
                    <a href="home.html">
                        <i class="fa fa-cart-plus"></i>
                        Cart
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="heading">
        <img src="../static/images/rubenheadshot.png" alt="picture of ruben" />
    </div>
    <div class="main main-primary">
        <ol class="breadcrumb">
            <li><a href="home.html">Home</a></li>
            <li><a href="item.html">Shop</a></li>
            <li class="active">Meet our Devs</li>
        </ol>
        <div class="row">
            <div class="col-sm-12">
                <div class="item-details">
                    <div class="row">
                        <div class="col-sm-6 col-md-4">
                            <div class="pictures">
                                <div class="primary">
                                    <div class="zoom" data-zoom="../static/images/rubenheadshot.png">
                                        <img src="../static/images/rubenheadshot.png" alt="picture of ruben" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-offset-1 col-lg-3 item-info">
                            <h1>Ruben Trevino</h1>
                            </div>
                            <div class="description col-lg-3">Rubens Bio here</div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <form action="#" class="form-horizontal" method="post">
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <h4>Our conditions</h4>
                <div class="justify">
                    This site although fully functional, is for entertainment purposes only. Any and all memes associated with this site are for entertainment and are not the views of the developers. They are in no way used or intended to offend or disrespect anyone.
                </div>
            </div>
            <div class="col-sm-4">
                <h4>Latest news</h4>
                <blockquote>
                    <p>We are working on new memes all the time. Come back to see something new weekly</p>
                </blockquote>
            </div>
            <div class="col-sm-4 social-network">
                <h4>Social Network</h4>
                <div class="row margin-top-20">
                    <div class="col-sm-12">
                        <a href="#">
                            <i class="fa fa-facebook-square fa-2x blue-fb pull-left"></i>
                            <div>
                                Add us on Facebook to see what new memes are trending!
                            </div>
                            <div class="clearfix"></div>
                        </a>
                    </div>
                </div>
                <div class="row margin-top-10">
                    <div class="col-sm-12">
                        <a href="#">
                            <i class="fa fa-twitter-square fa-2x blue-tt pull-left"></i>
                            <div>
                                Follow us on Twitter for all the best Memes!
                            </div>
                            <div class="clearfix"></div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <hr />
        <div class="row line-50">
            <div class="col-sm-8">
                <nav class="navbar navbar-default navbar-transparent">
                    <div class="container-fluid">
                        <div class="collapse navbar-collapse">
                            <ul class="nav navbar-nav">
                                <li>
                                    <a href="home.html">Home</a>
                                </li>
                                <li>
                                    <a href="/ruben">
                                        Account
                                    </a>
                                </li>
                                <li>
                                    <a href="/item">
                                        Shop
                                    </a>
                                </li>
                                <li>
                                    <a href="/cart">
                                        Cart
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
            <div class="col-sm-4 text-right">
                <strong>
                    Created by Fortuna eCommerce Developers
                </strong>
            </div>
        </div>
    </div>
</footer>
<input type="hidden" id="isSized" value="" />
</body>
</html>