<!DOCTYPE html>


<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml">
<div th:replace="partials :: head"/>
</div>

<body>
<nav th:replace="partials :: navbar"/>
<!--VJP: Reformatting cart-->
<!--/* Content of this page will be decorated by the elements of layout.html (task/layout) */-->
<div class="container mt-4">

    <h1 style="text-align: center;">Current Cart</h1>
    <br>

    <br>
</div>

<div class="container mt-4" layout:fragment="content">
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
<!--                <th>Preview</th>-->
                <th>Name</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Operation</th>
            </tr>
        </thead>
        <tbody>
        <tr th:if="${products.size()==0}">
            <td colspan="4" style="color: orangered">There's nothing in your cart right now!</td>
        </tr>
        <th:block th:unless="${products.size()==0}">
            <tr th:each="product : ${products}">
<!--                <td>Preview coming soon!</td>-->
                <td th:text="${product.name}"></td>
                <td th:text="${#numbers.formatDecimal(product.price,0,'COMMA',2,'POINT')}"></td>
                <td th:text="${product.quantity}"></td>
                <td> <form th:action="@{/deleteFromCart}" th:method="post">
                    <input type="hidden" name="cartDeleteId" th:value="${product.id}">
                    <button class="btn-link btn text-white btn-secondary">Delete item</button>
                </form></td>
            </tr>
        </th:block>

        </tbody>
    </table>
    <div style="text-align: center"><h3>Total: $<span th:text="${total}" style="color: green"></span></h3></div>
    <div style="text-align: center">
        <form th:action="@{/}" th:method="get">
            <button class="btn-link btn text-white btn-secondary">Continue shopping</button>
        </form>
        <br>
        <form th:action="@{/baddress}" th:method="get">
            <button class="btn-link btn text-white btn-secondary">Start checkout</button>
        </form>
    </div>
    <footer th:replace="partials :: footer"/>
</body>
</html>

<!--    <div th:if="${products.size()==0}">-->
<!--        <h1 style="color: orangered;text-align: center">There's nothing in your cart right now!</h1>-->
<!--    </div>-->
<!--    <div class="container" style="text-align: center" th:unless="${products.size()==0}">-->
<!--        <div th:each="product : ${products}">-->
<!--            <a th:href="@{'/products/'+${product.id}}"><h1 style="font-weight: bold" th:text="${product.name}">-->
<!--            </h1></a>-->
<!--            <h3><label>Quantity: <input type="text" th:value="${product.quantity}"></label></h3>-->
<!--            <h3>Price: $<span th:text="${product.price}"></span></h3>-->
<!--            <form th:action="@{/deleteFromCart}" th:method="post">-->
<!--                <input type="hidden" name="cartDeleteId" th:value="${product.id}">-->
<!--                <button class="btn-link btn text-white btn-secondary">Delete item</button>-->
<!--            </form>-->
<!--            <br>-->
<!--        </div>-->

<!--        <form th:action="@{/updateCart}" th:method="post">-->
<!--            <button class="btn-link btn text-white btn-secondary">Update cart</button>-->
<!--        </form>-->