<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="partials :: head" /></div>
<head>

    <script src="https://js.stripe.com/v3/"></script>
    <link th:href="@{/css/checkoutcss.css}" rel="stylesheet">
    <title></title>

</head>

<body>
<nav th:replace="partials :: navbar" />
<div class="container mx-auto align-center montserrat" style="text-align: center">
    <div class="container my-4" id="verify" style="text-align: center">
        <h4>Please verify all of your information, then click the button to submit payment information and complete the transaction.</h4>
    </div>

<div class="container">
    <div class="row">
        <div th:each="product, iter : ${products}" class="col-md-6 col-lg-3">
            <h1 style="font-weight: bold" th:text="${product.name}"></h1>
            <h5> <span th:text="${colors.get(iter.index)}" style="color: black"></span> - <span
                    th:text="${product.size}" style="color: black" ></span> - <span
                    th:text="${product.type}" style="color: black"></span></h5>
            <h3>Quantity: <span th:text="${product.quantity}"></span></h3>
            <h3>Price: $<span th:text="${product.price}"></span></h3>
            <br>
        </div>
    </div>
</div>

    <div class="container">
<div class="container mt-4" style="text-align: center">

    <h2>Total with tax and shipping: $<span th:text="${#numbers.formatDecimal(total,0,'COMMA',2,'POINT')}"></span></h2>
</div>
    </div>

<div id="addressInfo" class="container w-75 col-12">
    <div class="row">
<div class="container mt-4 checkout mx-auto text-center col-md-6 col-sm-12">
    <h1 style="text-align: center; border: 1px black">Billing information</h1>
<div class="shippingColoring">
    <h2><span th:text="${bill_address.firstname}"></span> <span th:text="${bill_address.lastname}"></span></h2>
    <h2><span th:text="${bill_address.street1}"> </span></h2>
    <div th:if="${!bill_address.street2.isEmpty()}">
        <h2><span th:text="${bill_address.street2}"> </span></h2>
    </div>
    <h2><span th:text="${bill_address.city}"> </span>, <span th:text="${bill_address.state}"></span> <span
            th:text="${bill_address.zipcode}"></span></h2>
</div></div>

<div class="container mt-4 mx-auto text-center col-md-6 col-sm-12">
    <h1 style="text-align: center">Shipping information</h1>

    <div class="shippingColoring">
    <h2><span th:text="${ship_address.firstname}"></span> <span th:text="${ship_address.lastname}"></span></h2>
    <h2><span th:text="${ship_address.street1}"> </span></h2>
    <div th:if="${!ship_address.street2.isEmpty()}">
        <h2><span th:text="${bill_address.street2}"> </span></h2>
    </div>
    <h2><span th:text="${ship_address.city}"></span>, <span th:text="${ship_address.state}"></span> <span
            th:text="${ship_address.zipcode}"></span></h2>
    </div></div>

</div>
</div>

<!-- Button trigger modal -->
    <div class="btn-group my-5 align-center" style="box-shadow: none">
        <a href="/addresses" type="button" class="btn btn-secondary mr-2" id="goback">Go back</a>
        <button type="button" class="btn btn-primary ml-2" id="checkout-btn" data-toggle="modal"
                data-target="#paymentModal">
            Enter Payment Information
        </button>
    </div>

</div>



<!-- Modal -->
<div class="modal montserrat" id="paymentModal" tabindex="-1" role="dialog" aria-labelledby="paymentModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Stripe Payment</h5>
                <button type="button" id="close-payment-modal" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-12 my-auto mx-auto">
                            <p class="lead mb-4">
                                Please fill the form below to complete the order payment
                            </p>

                            <form action="/charge" id="payment-form" method="post">
                                <input type="hidden" th:value="${total+5.00}" name="total" id="total">
                                <input id="api-key" type="hidden" th:value="${stripePublicKey}" name="token">
                                <div class="form-group">
                                    <label class="font-weight-medium" for="card-element">
                                        Enter credit or debit card below
                                    </label>
                                    <div class="w-100" id="card-element">
                                        <!-- A Stripe Element will be inserted here. -->
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input class="form-control" id="email" name="email"
                                           placeholder="Email Address" type="email" th:value="${email}" required>
                                </div>
                                <!-- Used to display Element errors. -->
                                <div class="text-danger w-100" id="card-errors" role="alert"></div>
                                <button class="btn btn-primary text-white btn-block" id="submitButton" type="submit">
                                    Pay With Your Card
                                </button>

                            </form>

                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-block" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>



<footer th:replace="partials :: footer" />
<footer><script th:src="@{/js/custom.js}"></script></footer>
</body>
</html>