<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link th:href="@{/css/style.css}" rel="stylesheet">
    <script src="https://js.stripe.com/v3/"></script>
    <title></title>
</head>
<div th:replace="partials :: head" /></div>

<body>
<nav th:replace="partials :: navbar" />


<h1>Please verify all of your information, then click the button to submit payment information and complete the transaction!</h1>

<div class="container" style="text-align: center">
    <div th:each="product : ${products}">
        <h1 style="font-weight: bold" th:text="${product.name}">
        </h1>
        <h3>Quantity: <span th:text="${product.quantity}"></span></h3>
        <h3>Price: $<span th:text="${product.price}"></span></h3>
        <br>
    </div>
</div>

    <h2>Total with shipping: $<span th:text="${total+5.00}"></span></h2>

    <h1>Billing information</h1>

    <form th:action="@{/baddress}" th:method="post" th:object="${bill_address}">
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="Bfirst_name">First name</label>
                <input type="text" class="form-control" th:field="*{firstname}" id="Bfirst_name" disabled>
            </div>
            <div class="form-group col-md-6">
                <label for="Blast_name">Last Name</label>
                <input type="text" class="form-control" id="Blast_name" th:field="*{lastname}" disabled>
            </div>
        </div>
        <div class="form-group">
            <label for="Baddress1">Address</label>
            <input type="text" class="form-control" id="Baddress1" th:field="*{street1}" disabled>
        </div>
        <div class="form-group">
            <label for="Baddress2">Address 2</label>
            <input type="text" class="form-control" id="Baddress2" placeholder="Apartment, studio, or floor"
                   th:field="*{street2}" disabled>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="Bcity">City</label>
                <input type="text" class="form-control" id="Bcity" th:field="*{city}" disabled>
            </div>
            <div class="form-group col-md-4">
                <label for="Bstate">State</label>
                <input type="text" id="Bstate" class="form-control" th:id="state" th:field="*{state}" maxlength="2" disabled>
            </div>
            <div class="form-group col-md-2">
                <label for="Bzip">Zip</label>
                <input type="text" class="form-control" id="Bzip" th:field="*{zipcode}" maxlength="5"
                       placeholder="12345" disabled>
            </div>
        </div>
        <br>
    </form>

    <h1>Shipping information</h1>

    <form th:action="@{/address}" th:method="post" th:object="${ship_address}">
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="Sfirst_name">First name</label>
                <input type="text" class="form-control" th:field="*{firstname}" id="Sfirst_name" disabled>
            </div>
            <div class="form-group col-md-6">
                <label for="Slast_name">Last Name</label>
                <input type="text" class="form-control" id="Slast_name" th:field="*{lastname}" disabled>
            </div>
        </div>
        <div class="form-group">
            <label for="Saddress1">Address</label>
            <input type="text" class="form-control" id="Saddress1" th:field="*{street1}" disabled>
        </div>
        <div class="form-group">
            <label for="Saddress2">Address 2</label>
            <input type="text" class="form-control" id="Saddress2" placeholder="Apartment, studio, or floor"
                   th:field="*{street2}" disabled>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="Scity">City</label>
                <input type="text" class="form-control" id="Scity" th:field="*{city}" disabled>
            </div>
            <div class="form-group col-md-4">
                <label for="Sstate">State</label>
                <input type="text" id="Sstate" class="form-control" th:id="state" th:field="*{state}" maxlength="2"
                       disabled>
            </div>
            <div class="form-group col-md-2">
                <label for="Szip">Zip</label>
                <input type="text" class="form-control" id="Szip" th:field="*{zipcode}" maxlength="5"
                       placeholder="12345" disabled>
            </div>
        </div>
        <br>
    </form>



<h2>Total: $<span th:text="${total+5.00}"></span></h2>


<!-- Button trigger modal -->
<div class="text-center">
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#paymentModal">
    Enter payment information
</button>
</div>
<!-- Modal -->
<div class="modal fade" id="paymentModal" tabindex="-1" role="dialog" aria-labelledby="paymentModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Stripe payment</h5>
                <button type="button" id="close-payment-modal" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-12 my-auto mx-auto">
                            <p class="lead mb-4">
                                Please fill the form below to complete the order payment
                            </p>
                            <form action="/charge" id="payment-form" method="post">
                                <input type="hidden" th:value="${total+5.00}" name="total" id="total">
                                <input id="api-key" type="hidden" th:value="${stripePublicKey}" name="token">
                                <div class="form-group">
                                    <label class="font-weight-medium" for="card-element">
                                        Enter credit or debit card below
                                    </label>
                                    <div class="w-100" id="card-element">
                                        <!-- A Stripe Element will be inserted here. -->
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input class="form-control" id="email" name="email"
                                           placeholder="Email Address" type="email" th:value="${email}" required>
                                </div>
                                <!-- Used to display Element errors. -->
                                <div class="text-danger w-100" id="card-errors" role="alert"></div>
                                <button class="btn btn-primary text-white btn-block" id="submitButton" type="submit">
                                    Pay With Your Card
                                </button>

                            </form>

                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-block" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>



<footer th:replace="partials :: footer" />
</body>
</html>