<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/style.css}" rel="stylesheet">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link th:href='@{http://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900}' rel='stylesheet' type='text/css'>
    <link rel="icon" th:href="@{/images/favicon.png}">
    <!--    <link th:href="@{/css/bootstrap.css}" rel="stylesheet" type="text/css"/>-->
    <link th:href="@{/css/app-blue.css}" rel="stylesheet" type="text/css"/>
    <!--    <link th:href="@{/css/font-awesome.min.css}" rel="stylesheet" type="text/css"/>-->

    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/style.css}" rel="stylesheet">
<!--    <link th:href="@{/css/transactiontable.css}" rel="stylesheet" type="text/css">-->
    <title>Transactions History</title>
</head>

<body>
<nav th:replace="partials :: navbar" />
<div class="table-responsive" layout:fragment="content">


<!--    <div class="container mt-4">-->

<!--        <h1 style="text-align: center;">Current Cart</h1>-->
<!--        <br>-->

<!--        <br>-->
<!--    </div>-->

<!--    <div class="container mt-4" layout:fragment="content">-->
<!--        <table class="table table-bordered table-striped">-->
<!--            <thead>-->
<!--            <tr>-->
<!--                <td>Preview</td>-->
<!--                <td>Name</td>-->
<!--                <td>Price</td>-->
<!--                <td>Quantity</td>-->


<!--            </tr>-->
<!--            </thead>-->
<!--            <tbody>-->
<!--            <tr th:if="${products.size()==0}">-->
<!--                <td colspan="4" style="color: orangered">There's nothing in your cart right now!</td>-->
<!--            </tr>-->
<!--            <div class="container" style="text-align: center" th:unless="${products.size()==0}">-->
<!--                <tr th:each="product : ${products}">-->
<!--                    <td><img th:src="${product.productImage}" alt="The product's image" height="150px" width="150px" class="cartImage"></td>-->
<!--                    <td th:text="${product.name}"></td>-->
<!--                    <td th:text="${product.quantity}"></td>-->
<!--                    <td th:text="${product.price}"></td>-->
<!--                    <td> <form th:action="@{/deleteFromCart}" th:method="post">-->
<!--                        <input type="hidden" name="cartDeleteId" th:value="${product.id}">-->
<!--                        <button class="btn-link btn text-white btn-secondary">Delete item</button>-->
<!--                    </form></td>-->
<!--                </tr>-->
<!--            </div>-->
<!--            </tbody>-->
<!--        </table>-->
<!--        <div style="text-align: center">-->
<!--            <form th:action="@{/products/all}" th:method="get">-->
<!--                <button class="btn-link btn text-white btn-secondary">Return to the product listings</button>-->
<!--            </form>-->
<!--    -->



    <h1 style="text-align: center">Transaction History</h1>
    <table class="table table-hover table-bordered table-striped">
        <thead>
        <tr>
            <th scope="col">Transaciton ID</th>
            <th scope="col">Created on</th>
            <th scope="col">Modified on</th>
            <th scope="col">Stripe Transaction Id</th>
            <th scope="col">Transaction Status</th>
            <th scope="col">Transaction Type</th>
            <th scope="col">User Information</th>
            <th scope="col">User Shipping Id</th>
            <th scope="col">User Billing Id</th>
            <th scope="col">Items Ordered<br>
            (Id - Name - Quantity)</th>
            <th scope="col">Final Amount</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="transaction : ${transactions}">
            <td th:text="${transaction.id}"></td>
            <td th:text="${transaction.created_at}"></td>
            <td th:text="${transaction.modified_at}"></td>
            <td th:text="${transaction.stripeId}"></td>
            <td th:text="${transaction.status}"></td>
            <td th:text="${transaction.type}"></td>
            <td>Username: <span th:text="${transaction.username}"></span><br>
                Email: <span th:text="${transaction.email}"></span><br>
                Stripe Id: <span th:text="${transaction.stripeCustomer}"></span></td>
            <td th:text="${transaction.shipping.getId()}"></td>
            <td th:text="${transaction.billing.getId()}"></td>
            <td><th:block th:each="product, stats : ${transaction.product}"><span
                    th:text="${product.getId()}"></span> - <span th:text="${product.getName()}"></span> - <span
                        th:text="${transaction.quantity.get(stats.index)}"></span><br></th:block></td>
            <td th:text="${transaction.total}"></td>
        </tr>
        </tbody>
    </table>


</div>
<footer th:replace="partials :: footer" />
</body>
</html>